.field {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;

    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 1.5%;
}

.field::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.field:focus {
    outline: none;
}

.dashboard {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    max-width: 500px;
}

small {
    padding: 10px;
}